//tipografia
$fuentePrincipal:'Changa One', cursive;
$fuentePrincipall:'Anton', sans-serif;
$fuenteSecundaria:'Open Sans', sans-serif;
//colores
$naranja: #f5a226;
$amarillo:#ffd34f;
$blanco:#FFFFFF;
$negro:#000000;

